{% assign kinds = "notes, papers" | split: ", " %}
{% for k in kinds %}
{% assign label = page.id | replace_first: "/", "" %}
  {% assign refs = site.data.backrefs[k][label] %}
  {% if refs.size > 0 %}
## Related {{k}}

<div class="posts">
  <ul>
      {% for p in refs %}
      <li><a href="{{ site.baseurl }}/{{ p }}">{{ p }}</a></li>
      {% endfor %}
  </ul>
</div>

  {% endif %}
{% endfor %}

{% for x in page.isa %}
[{{x}}]: {{site.baseurl}}/notes/{{x | replace: ' ', '-' | downcase}}
{% endfor %}
{% for x in page.examples %}
[{{x}}]: {{site.baseurl}}/notes/{{x | replace: ' ', '-' | downcase}}
{% endfor %}
{% for x in page.notes %}
[{{x}}]: {{site.baseurl}}/notes/{{x | replace: ' ', '-' | downcase}}
{% endfor %}
{% for x in page.papers %}
[{{x}}]: {{site.baseurl}}/papers/{{x}}
{% endfor %}
