---
layout: topic
title: Formal Verification
---

VCC: [Local verification of global invariants in concurrent programs]({% link _papers/cohen:cav:2010.md %})
