---
layout: topic
title: Formal Verification
---

VCC: [Local verification of global invariants in concurrent programs]({{ "papers/cohen:cav:2010" | relative_url }})
