---
layout: topic
title: Formal Verification
papers:
- cohen:cav:2010
---

VCC: [Local verification of global invariants in concurrent programs][cohen:cav:2010]
{% include links.html %}
