---
layout: default
regenerate: true
---

<h1>Summarised papers</h1>

<div class="posts">
    <ul>
        {% assign papers = site.papers | where: "read",true | sort: "readings" | reverse %}
        {% for paper in papers %}
            <li>{{ paper.title }} [<a href="{{ site.baseurl }}{{ paper.url }}">{{ paper.slug }}</a>]</li>
        {% endfor %}
    </ul>
</div>

<h1>Backlog of papers to summarise</h1>

<div class="posts">
    <ul>
        {% assign papers = site.papers | where: "read",false | sort: "added" | reverse %}
        {% for paper in papers %}
            <li>{{ paper.title }} [<a href="{{ site.baseurl }}{{ paper.url }}">{{ paper.slug }}</a>]</li>
        {% endfor %}
    </ul>
</div>


