---
layout: default
---

<article class="page">

  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  {% if page.website %} <br><a href="{{page.website}}">Website</a> {% endif %}
  {% if page.wiki %} <br><a href="{{page.wiki}}">Wikipedia entry</a> {% endif %}

  {% if page.isa %}
  <br>Is a kind of:
  {% for note in page.isa %}
  <a href="{{site.baseurl}}/notes/{{ note | replace: ' ', '-' }}">{{note}}</a>{% if forloop.last %}{% else %},{% endif %}
  {% endfor %}
  {% endif %}

  {% if page.examples %}
  <br>Examples:
  {% for note in page.examples %}
  <a href="{{site.baseurl}}/notes/{{ note | replace: ' ', '-' }}">{{note}}</a>{% if forloop.last %}{% else %},{% endif %}
  {% endfor %}
  {% endif %}

  {% if page.notes %}
  <br>Notes:
  {% for note in page.notes %}
  <a href="{{site.baseurl}}/notes/{{ note | replace: ' ', '-' }}">{{note}}</a>{% if forloop.last %}{% else %},{% endif %}
  {% endfor %}
  {% endif %}

  {% if page.papers %}
  <br>Papers:
  {% for p in page.papers %}
  <a href="{{site.baseurl}}/papers/{{p}}">{{p}}</a>{% if forloop.last %}{% else %},{% endif %}
  {% endfor %}
  {% endif %}

</article>
