---
layout: default
---

<article class="page">

  <h1>{{ page.title }}</h1>

  {% if page.website %} <br><a href="{{page.website}}">Website</a><br> {% endif %}
  {% if page.wiki %} <br><a href="{{page.wiki}}">Wikipedia entry</a><br> {% endif %}

  {% if page.isa %}
  Is a kind of:
  {% for note in page.isa %}
  <a href="{{site.baseurl}}/notes/{{ note | replace: ' ', '-' | downcase }}">{{note}}</a>{% if forloop.last %}{% else %},{% endif %}
  {% endfor %}
  <br>
  {% endif %}

  {% if page.examples %}
  Examples:
  {% for note in page.examples %}
  <a href="{{site.baseurl}}/notes/{{ note | replace: ' ', '-' | downcase }}">{{note}}</a>{% if forloop.last %}{% else %},{% endif %}
  {% endfor %}
  <br>
  {% endif %}

  {% if page.notes %}
  Notes:
  {% for note in page.notes %}
  <a href="{{site.baseurl}}/notes/{{ note | replace: ' ', '-' | downcase }}">{{note}}</a>{% if forloop.last %}{% else %},{% endif %}
  {% endfor %}
  <br>
  {% endif %}

  {% if page.papers %}
  Papers:
  {% for p in page.papers %}
  <a href="{{site.baseurl}}/papers/{{p}}">{{p}}</a>{% if forloop.last %}{% else %},{% endif %}
  {% endfor %}
  <br>
  {% endif %}

  <div class="entry">
    {{ content }}
  </div>

</article>
