---
layout: note
title: Bounded verification
---

todo:

