---
layout: note
title: Bounded verification
notes:
- bounded model checking
---

todo:

{% include links.html %}
