---
layout: note
title: Modular verification
---

todo

See also [contract driven development].
[loop-invariant]

One of the big challenges in modular verification is the effort of
creating contracts for every function in a large, existing codebase.
One attack on that problem is biabduction [calcagno:popl:2009].


[contract driven development]: {{ "notes/contract-driven-development" | relative_url }}
[loop-invariant]: {{ "notes/loop-invariant" | relative_url }}
[calcagno:popl:2009]: {{ "papers/calcagno:popl:2009" | relative_url }}
