---
layout: note
title: Modular verification
papers:
- calcagno:popl:2009
notes:
- loop invariant
- contract driven development
---

todo

See also [contract driven development].
[loop invariant]

One of the big challenges in modular verification is the effort of
creating contracts for every function in a large, existing codebase.
One attack on that problem is biabduction [calcagno:popl:2009].

{% include links.html %}
